@import 'reset.css';
@import 'variables.css';

/* Global styles */

html {
    font-size: 62.5%;
}

p {
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    line-height: 1.2;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

* {
    box-sizing: border-box;
}

/* Heading tag elements  with this class are used inside some semantic elements 
   to prevent the HTML5 outline from showing an "Untitled Section" */
.outliner-aid {
    display: none;
}

.page-container {
    position: relative;
    width: 90%;
    max-width: 875px;
    margin: 0px auto;
}

/* Top nav styles */

.top-nav {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 90%;
    max-width: 875px;
    height: 70px;
    background-color: var(--top-nav-bg-color);
    padding-top: 20px;
    border-bottom: 1.5px dashed var(--top-nav-border-color);
}

.top-nav > * {
    height: 50px;
}

.top-nav__menu {
    display: inline-block;
    width: 70%;
}

.top-nav__menu__item {
    display: inline-block;
    font-family: var(--body-font-family);
    font-size: 1.4rem;
    padding: 12.5px 0;
    margin-right: 7.5%; 
}

.top-nav__menu__item:last-child {
    margin-right: 0;
}

.top-nav__menu__item > a {
    color: var(--top-nav-item-font-color);
    text-decoration: none;
}

.top-nav__logo {
    float: right;
    width: 20%;
    min-width: 183px;
    height: 36px;
    background-image: url("../images/top-nav/logo.png");
    background-repeat: no-repeat;
    vertical-align: top;
    padding-top: 7px;
}

/* Footer styles */

.footer {
    font-family: var(--body-font-family);
    font-size: 1.4rem;
}

.footer__copyright {
    text-align: center;
    letter-spacing: 0.5px;
    text-indent: 0.5px;
    margin: 50px 0 20px;
}

/* Home page styles */

.home__intro {
    position: relative;
    margin: 125px 0 75px;
}

.home__intro > * {
    display: inline-block;
    height: 380px;
}

.home__intro__content {
    vertical-align: middle;
    text-align: center;
    padding-top: 62.5px;
}

.home__intro__content__slogan {
    font-family: var(--heading-font-family);
    font-size: 7.25rem;
    font-weight: bold;
    letter-spacing: 5px;
    padding-left: 5px;
}

.home__intro__content__get-started-btn {
    display: inline-block;
    width: 175px;
    background-color: var(--get-started-btn-bg-color);
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 1.75rem;
    letter-spacing: 0.5px;
    color: var(--get-started-btn-font-color);
    text-decoration: none;
    cursor: pointer;
    border: 1px solid var(--get-started-btn-border-color);
    padding: 7.5px 0 7.5px 0.5px;
    margin: 20px 0;
}

.home__intro__content__get-started-btn:visited {
    color: var(--get-started-btn-font-color);
    text-decoration: none;
}

.home__intro__image {
    float: right;
    width: 379px;
    background-image: url("../images/home/header-img.png");
    background-repeat: no-repeat;
    vertical-align: top;
    padding: 0.5px 0;
}

.home__overviews {
    padding: 22.5px 0 25px;
    border-top: 1px solid var(--home-overviews-border-color);
    border-bottom: 1px solid var(--home-overviews-border-color);
}

.home__overviews__2-col-block__item {
    display: inline-block;
    width: 49.5%;
    margin-right: 0.5%;
}

.home__overviews__banner {
    height: 182px;
    background-image: url(../images//home//mid-page-accent.jpg);
    margin: 35px auto;
}

.home__overviews__3-col-block__item {
    display: inline-block;
    width: 33%;
    margin-right: 0.15%;
}

.home__overviews__2-col-block,
.home__overviews__3-col-block {
    margin: 15px 0;
}

.home__overviews__2-col-block__item:last-child,
.home__overviews__3-col-block__item:last-child {
    margin-right: 0;
}

.home__overviews__2-col-block__item__heading,
.home__overviews__3-col-block__item__heading {
    font-family: var(--heading-font-family);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-indent: 1px;
    margin-bottom: 15px;
}

.home__contact {
    margin: 37.5px auto 0;
}

.home__contact__heading {
    font-family: var(--heading-font-family);
    font-size: 1.6rem;
    letter-spacing: 1px;
    text-indent: 1px;
    margin-bottom: 17.5px;
}

.home__contact__details {
    font-family: var(--body-font-family);
    font-size: 1.6rem;
}

.home__contact__details > * {
    margin-bottom: 22.5px;
}